*{box-sizing: border-box;}
html,
body {
    margin:0;
    padding:0;
}

body{
    background: repeat url('../images/carbon_fibre.png');
    display:grid;
    grid-template-columns: auto 99vw auto;
    grid-template-rows: 3vh auto auto 3vh;
}
header,
#content{
    background: repeat url('../images/white_carbon.webp');
    padding: 0 2.5rem 0 2.5rem;
    margin: .75rem;
    border-radius: 1rem;
    border-width: 1rem;
}
header{
    grid-column-start: 2;
    grid-row-start: 2;
}
#content{
    grid-column-start: 2;
    grid-row-start: 3;
    overflow-y: scroll;
}

.hidden{
    display: none;
}


nav button {
    font-size: 1.025rem;
    background: repeat url('../images/white_carbon.webp');
    border-radius: .5rem;
    margin-right: .25rem; 
    border-width: .125rem;
    margin-bottom: .75rem;
    text-transform: capitalize;
    transition-property: all;
    transition-duration: .2s;
  } 
  nav button:hover {
    letter-spacing: .05rem;
    color:rgb(34, 88, 34);
    border-color: rgb(34, 88, 34);
  } 

  /* @media only screen and (max-width: 600px) {
    .nav-container {
     display: flex;
     flex-direction: column;
    };
    nav button {
        width: 100%;
    }
  } */

 ul{
    padding-left: 0rem;
    font-size: 1.05rem;
    font-weight: 525;
    list-style-position: inside;
    list-style-type: none;
    /* color:rgb(2, 2, 31) */
  }

li{
    padding-left: 1rem;
    font-size: 1.025rem;
    font-weight: 400;
    list-style-type: none;
    line-height: 2rem;
    list-style-type: none;
}

.category-overview{
    font-size: 1.15rem;
    color:rgb(88, 34, 34);
}

.description{
    font-style: italic;
}